/* ==UserStyle==
@name           Mail.ru Improving

@version        1.0.1
@namespace      github.com/openstyles/stylus
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("e.mail.ru") {
  /* Mail-list pages top tool-bar
  */
  /* adding a pseudo element */
  .portal-menu:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5rem;
    min-height: 100vh;
    z-index: 99;
    border: solid 0px lime;
/*    background-color: pink; */
    background-image: repeating-linear-gradient(45deg, #0005 0 10px, #0001 10px, #0001 20px)
  }

  /* Mail list pages > right column w. ads
  */
  .application-mail__wrap > div:nth-child(2) > div > div[data-id] > div:nth-child(1) > div[class] > div[data-draggable-id] > div[style] > div:nth-child(3)  {
/*     border: solid 9px limegreen; */
/*     border-width: 0 90px 0; */
    outline: solid 9px blue;
    opacity: .0;
    background-color: red;
  }

:nth-of-type(1) > [data-draggable-id] ,
[data-id]
{
    outline: solid purple 0.0px;
}

xxdiv:nth-of-type(1) ,
.application-mail__wrap > div:nth-of-type(2),
dumm {
    outline: solid red 9px;
}
}