/* ==UserStyle==
@name           Mail.ru Improving

@version        1.0.2
@namespace      github.com/openstyles/stylus
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("e.mail.ru") {
  :root {
    --blue-base: hsla(217, 100%, 49%, 1);
    --blue-1: hsla(217, 100%, 33%, .62);
    --blue-2: hsla(217, 100%, 49%, .126);
    --orange-base: hsl(37, 100%, 50%);
    --orange-1: hsla(37, 100%, 55%, .33);
    --orange-2: hsla(37, 100%, 55%, .12);
  }
  /* Mail-list pages top tool-bar
  */
    .portal-menu {
/*       opacity: .66 !important; */
    }
  @media screen and (min-width: 1040px) {
    /* adding a pseudo element to block column w. ads */
    .debug-93893838:after,
    .portal-menu:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
/*       width: 10rem; */
      width: 10rem;
      min-height: 100vh;
      z-index: 99;
      border: solid 0px lime;
      background-color: #fff;
      background-image: repeating-linear-gradient(-45deg, var(--orange-1) 0 10px, var(--orange-2) 10px, var(--orange-2) 20px)
    }
  }

  /* Mail list pages > right column w. ads
  */
  .application-mail__wrap > div:nth-child(2) > div > div[data-id] > div:nth-child(1) > div[class] > div[data-draggable-id] > div[style] > div:nth-child(3)  {
/*     border: solid 9px limegreen; */
/*     border-width: 0 90px 0; */
    outline: solid 9px blue;
    opacity: .0;
    background-color: red;
  }
}