/* ==UserStyle==
@name           Youtube - local
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me

@advanced color attention-color "Badges's color" "lime"

@advanced dropdown previews-hide "Show/hide previews (with delay)" {
  Show "Show" <<<EOT
  1 EOT;
  Hide "Hide" <<<EOT
  0 EOT;
}
==/UserStyle== */


@-moz-document domain("youtube.com") {
  .badge.badge-style-type-simple.style-scope.ytd-badge-supported-renderer {
    background-color: /*[[attention-color]]*/;
    color: #0007;
  }
  
  /* Hide R-Column previews */
  ytd-thumbnail {
    background-color: #eee;
  }
  #columns > #secondary #dismissable #img {
    opacity: /*[[previews-hide]]*/ !important;
    transition-delay: .15s;
    transition-duration: .93s;
  }
  #columns > #secondary:hover #dismissable #img {
    opacity: 1 !important;
    transition-delay: .5s;
  }
}